.external-urls {
    position: fixed;
    background-color: rgba(15, 14, 14, 0.26);
    top: calc(50% - 20px);
    right: 0%;
    width: fit-content!important;
    border-radius: 1em;
}

.external-url-icons{
transition: transform 1s;
}
.external-url-icons:hover { 
    transform: scale(1.5); 
}