.circle {
    background: url(./colorful-circle.png);
    height: 50vh;
    width: 50vh;
    background-size: cover;
    animation: rotate 100s infinite linear;
    border-radius: 50vw;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }