.nav-bar {
}

.nav-list {
    padding-top: 1.5em;
    padding-left: 0;
    position: relative;
    float: right;
    display: flex;
}
.nav-list li:first-child a {
    margin-left: 0;
}
.nav-list > li {
    list-style: none;
}

.nav-list li a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: #6c6e6fa3; 
    margin: 0 0 0 1em;
    font-size: 130%;
    opacity: 0.7;
    transition: opacity 0.5s ease-in;
}

.link.active {
    color: #30383cbf;
    opacity: 1;
}