.intro {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC) repeat 0 0;
    /**
    -webkit-animation: bg-scrolling-reverse 0.99s infinite;
    /* Safari 4+ 
     -moz-animation: bg-scrolling-reverse 0.99s infinite;
    /* Fx 5+
     -o-animation: bg-scrolling-reverse 0.99s infinite;
    /* Opera 12+
    **/
    animation: bg-scrolling-reverse 0.9s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    color: #212529;
    
}

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

.text {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.circle {
    background: url(/colorful-circle.png);
    width: 30em;
    height: 30em;
    background-size: cover;
    animation: rotate 90s infinite linear;
    animation-delay: 1s;
    border-radius: 50px;
    min-width: max-content;
    min-height: max-content;

}

@media all and (max-width: 1000px) {
    .text {
        font-size: 2.2em;
    }
    .circle {
        width: 25em;
        height: 25em;   
    }
}

@media all and (max-width: 660px) {
    .text {
        font-size: 1.5em;
    }
    .circle {
        width: 23em;
        height: 23em;   
    }
}

@media all and (max-width: 460px) {
    .text {
        font-size: 1.3em;
    }
    .circle {
        width: 18em;
        height: 18em;   
    }    
}

@media all and (max-width: 360px) {
    .text {
        font-size: 1.2em;
    }
    .circle {
        width: 12em;
        height: 12em;   
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}