.container {
  -webkit-transition: all .5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}

.row [class*='col-'] {
  transition: all 0.5s ease-in 0s;
}



@media all and (max-width: 1200px) { /* screen size until 1200px */
  body {
      font-size: 100% !important; /*  default size */
  }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
  body {
      font-size: 70% !important; /* .7x default size */
      }
  }
@media all and (max-width: 500px) { /* screen size until 500px */
  body {
      font-size: 50% !important ; /* 0.5x default size */
      }
  }

  