:root {
  --transition_time:0.3s;
  --trainsition_type: linear;
}

.container {
  -webkit-transition: all var(--transition_time) var(--trainsition_type) 0s;
  transition: all var(--transition_time) var(--trainsition_type) 0s;
  /*transition: all var(--transition_time) var(--trainsition_type) 0s;*/
}

.row [class*='col-'] {
  transition: all var(--transition_time) var(--trainsition_type) 0s !important;
}

@media all and (max-width: 1200px) {
  /* screen size until 1200px */
  body {
    /*  default size */
  }
}

@media all and (max-width: 1000px) {
  /* screen size until 1000px */

  .w-75 {
    width: 100%!important;
  }
  body {

    /* .7x default size */
  }
  h1 {
  }
  h2 {
  }
}

@media all and (max-width: 500px) {
  /* screen size until 500px */
  body {
    /* 0.5x default size */
  }
  h1 {
  }
  h2 {
  }
}

/*fonts*/
@import url(https://fonts.googleapis.com/css2?family=Monoton); /*Used for Headers*/
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes); /*header and intro*/
@import url(https://fonts.googleapis.com/css2?family=Comfortaa);
@import url(https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700);
